In [2]:
import pandas as pd
import numpy as np

In [3]:
df_data =pd.read_csv("DATA.CSV",index_col=0)
df_data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'employeecount',
       'employeenumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NUMCOMPANIESWORKED',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TOTALWORKINGYEARS', 'TrainingTimesLastYear', 'WORKLIFEBALANCE',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YEARSWITHCURRMANAGER', 'SameAsMonthlyIncome', 'DateBirth', 'Salary',
       'RoleDepartament', 'NUMBERCHILDREN', 'RemoteWork'],
      dtype='object')

In [15]:
df_nulos = pd.DataFrame((df_data.isnull().sum() / df_data.shape[0]) * 100, columns = ["%_nulos"])

# filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
df_nulos[df_nulos["%_nulos"] > 0]

                        %_nulos
BusinessTravel        47.831475
Department            81.288724
EducationField        46.158612
employeenumber        26.703841
MaritalStatus         40.334572
MonthlyIncome         52.230483
Over18                55.824040
OverTime              41.883519
PerformanceRating     12.081784
StandardHours         74.039653
TOTALWORKINGYEARS     32.589839
WORKLIFEBALANCE        6.691450
YearsInCurrentRole    97.893432
SameAsMonthlyIncome   52.230483
RoleDepartament       81.288724
NUMBERCHILDREN       100.000000

In [28]:
df_data['RemoteWork'].dtype

dtype('O')

In [29]:
df_data['RemoteWork'].value_counts()

RemoteWork
1        360
True     345
0        309
False    305
Yes      295
Name: count, dtype: int64

In [25]:
df_data['RemoteWork'].isnull().sum()

1614

In [8]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1614 entries, 0 to 1613
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1614 non-null   object
 1   Attrition                 1614 non-null   object
 2   BusinessTravel            842 non-null    object
 3   DailyRate                 1614 non-null   object
 4   Department                302 non-null    object
 5   DistanceFromHome          1614 non-null   int64
 6   Education                 1614 non-null   int64
 7   EducationField            869 non-null    object
 8   employeecount             1614 non-null   int64
 9   employeenumber            1183 non-null   object
 10  EnvironmentSatisfaction   1614 non-null   int64
 11  Gender                    1614 non-null   int64
 12  HourlyRate                1614 non-null   object
 13  JobInvolvement            1614 non-null   int64
 14  JobLevel                  1614 non-null   int64
 15  JobRole                   1614 non-null   object
 16  JobSatisfaction           1614 non-null   int64
 17  MaritalStatus             963 non-null    object
 18  MonthlyIncome             771 non-null    object
 19  MonthlyRate               1614 non-null   int64
 20  NUMCOMPANIESWORKED        1614 non-null   int64
 21  Over18                    713 non-null    object
 22  OverTime                  938 non-null    object
 23  PercentSalaryHike         1614 non-null   int64
 24  PerformanceRating         1419 non-null   object
 25  RelationshipSatisfaction  1614 non-null   int64
 26  StandardHours             419 non-null    object
 27  StockOptionLevel          1614 non-null   int64
 28  TOTALWORKINGYEARS         1088 non-null   object
 29  TrainingTimesLastYear     1614 non-null   int64
 30  WORKLIFEBALANCE           1506 non-null   object
 31  YearsAtCompany            1614 non-null   int64
 32  YearsInCurrentRole        34 non-null     object
 33  YearsSinceLastPromotion   1614 non-null   int64
 34  YEARSWITHCURRMANAGER      1614 non-null   int64
 35  SameAsMonthlyIncome       771 non-null    object
 36  DateBirth                 1614 non-null   int64
 37  Salary                    1614 non-null   object
 38  RoleDepartament           302 non-null    object
 39  NUMBERCHILDREN            0 non-null      float64
 40  RemoteWork                1614 non-null   object
dtypes: float64(1), int64(18), object(22)
memory usage: 529.6+ KB

In [9]:
df_data.describe(include = "all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Age,1614,54,35,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Attrition,1614,2,No,1355,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel,842,3,travel_rarely,586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DailyRate,1614,849,nan$,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department,302,3,Research & Development,196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DistanceFromHome,1614.0,NaN,NaN,NaN,4.527261,14.591913,-49.0,2.0,5.0,11.0,29.0
Education,1614.0,NaN,NaN,NaN,2.925031,1.022357,1.0,2.0,3.0,4.0,5.0
EducationField,869,6,Life Sciences,349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
employeecount,1614.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
employeenumber,1183,1079,"482,0",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EnvironmentSatisfaction,1614.0,NaN,NaN,NaN,4.294919,6.993559,1.0,2.0,3.0,4.0,49.0
Gender,1614.0,NaN,NaN,NaN,0.398389,0.489718,0.0,0.0,0.0,1.0,1.0
HourlyRate,1614,72,Not Available,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobInvolvement,1614.0,NaN,NaN,NaN,2.739777,0.711567,1.0,2.0,3.0,3.0,4.0
JobLevel,1614.0,NaN,NaN,NaN,2.068154,1.101344,1.0,1.0,2.0,3.0,5.0
JobRole,1614,1579,mANager,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobSatisfaction,1614.0,NaN,NaN,NaN,2.738538,1.106163,1.0,2.0,3.0,4.0,4.0
MaritalStatus,963,5,Married,404,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyIncome,771,668,"6347,0",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyRate,1614.0,NaN,NaN,NaN,14284.495663,7110.414585,2094.0,8001.0,14248.5,20364.0,26999.0
NUMCOMPANIESWORKED,1614.0,NaN,NaN,NaN,2.673482,2.506152,0.0,1.0,2.0,4.0,9.0
Over18,713,1,Y,713,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OverTime,938,2,No,682,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,1614.0,NaN,NaN,NaN,15.165428,3.64861,11.0,12.0,14.0,18.0,25.0
PerformanceRating,1419,2,"3,0",1205,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RelationshipSatisfaction,1614.0,NaN,NaN,NaN,2.704461,1.079031,1.0,2.0,3.0,4.0,4.0
StandardHours,419,1,"80,0",419,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,1614.0,NaN,NaN,NaN,0.791202,0.842396,0.0,0.0,1.0,1.0,3.0
TOTALWORKINGYEARS,1088,40,"10,0",144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TrainingTimesLastYear,1614.0,NaN,NaN,NaN,2.809789,1.297765,0.0,2.0,3.0,3.0,6.0
WORKLIFEBALANCE,1506,4,"3,0",913,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YearsAtCompany,1614.0,NaN,NaN,NaN,7.13259,6.124237,0.0,3.0,5.0,9.0,40.0
YearsInCurrentRole,34,10,"2,0",11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YearsSinceLastPromotion,1614.0,NaN,NaN,NaN,2.245973,3.235665,0.0,0.0,1.0,3.0,15.0
YEARSWITHCURRMANAGER,1614.0,NaN,NaN,NaN,4.22057,3.562695,0.0,2.0,3.0,7.0,17.0
SameAsMonthlyIncome,771,668,"6347,0",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DateBirth,1614.0,NaN,NaN,NaN,1986.076208,9.101332,1963.0,1980.0,1987.0,1993.0,2005.0
Salary,1614,1,1000000000$,1614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RoleDepartament,302,301,MaNAgeR - Sales,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NUMBERCHILDREN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RemoteWork,1614,5,1,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN